<div id="<%= id %>-node-panel" class="root-viz-project-panel">
  <div class="panel-heading">
    <h3 class="panel-title"><%= title %></h3>
  </div>
  <div class="panel-body">
    <div style="text-align:center;">
      <%- icon %>
    </div>
    <div class="Authors"><b>Authors:</b></div><div id="<%= id %>-authors" class="Authors"><%= authors %></div>
    <div class="Brief Description"><b>Brief Description:</b></div><div id="<%= id %>-brief" class="Brief Description"><%= brief %></div>
    <div class="Detailed Description"><b>Detailed Description:</b></div><div id="<%= id %>-detailed" class="Detailed Description"><%= detailed %></div>
  </div>
</div>
