<div id="<%= id %>-node-panel" class="panel" style="height: 100%; display:inline-block">
  <div class="panel-heading">
    <h3 class="panel-title"><%= title %></h3>
  </div>
  <div class="panel-body">
    <div style="text-align:center;">
      <%- icon %>
    </div>
<% if (authors) { -%>
    <div class="authors"><b>Authors:</b> 
      <%= authors %>
    </div>
<% } -%>
<% if (brief) { -%>
    <div class="brief"><b>Brief Description:</b> 
      <%= brief %>
    </div>
<% } -%>
<% if (detailed) { -%>
    <div class="description"><b>Detailed Description:</b> 
      <%= detailed %>
    </div>
<% } -%>
  </div>
</div>
